@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	// background-image: linear-gradient(to top right, rgb(49, 126, 197), rgb(88, 168, 243));
	background-color: white;
	background-color: rgb(219, 219, 219);
	overflow: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a,
a:link,
a:visited {
	// color: #555;
}

.bd{
	border: 1px solid #000;
}
